.character-base-status {
    padding: 16px;
    
    .level-info {
        margin: 12px 0;
        
        .exp-progress {
            width: 100%;
            margin-top: 4px;
        }
    }
    
    p {
        margin: 8px 0;
    }
}